/**********   Header   **********/

.header {
    margin: 10px;
}

.header h4 {
    padding-left: 20px;
}

/**********   Switch button   **********/

.read-db-switch {
    margin: 0 15px;
}

.sc-bdVaJa.epRheK, .sc-bdVaJa.ljjuxx {
    width: 10px;
    height: 10px;
    margin: 0 5px;
}

.epRheK.daq-toggleswitch--light__indicator--on {
    background-color: gray;
}

/**********   Period buttons   **********/

.period-btns {
    float: right;
    margin-bottom: 0;
}

/**********   Data table   **********/

.base {
    margin: 0 30px 30px 30px;
}

.data-table tbody tr.selected td {
    background: none repeat scroll 0 0 #FFCF8B;
    color: #FFFFFF !important;
}

.selected-text, .desc-text, #as_src_txt, #as_dest_txt {
    display: none;
}

/**********   Loaders   **********/

.loading-component1 {
    margin: 50px 0 0 0;
}

.loading-component1 .dash-spinner.dash-default-spinner {
    margin-bottom: 300px;
}

.loading-component {
    margin-top: 50px;
}

/**********   Header   **********/

.header {
    margin: 10px;
}

.header h4 {
    padding-left: 20px;
}

/**********   Switch button   **********/

.read-db-switch {
    margin: 0 15px;
}

.sc-bdVaJa.epRheK, .sc-bdVaJa.ljjuxx {
    width: 10px;
    height: 10px;
    margin: 0 5px;
}

.epRheK.daq-toggleswitch--light__indicator--on {
    background-color: gray;
}

/**********   Period buttons   **********/

.period-btns {
    float: right;
    margin-bottom: 0;
}

/**********   Data table   **********/

.data-table {
    margin: 0 30px 30px 30px;
}

.data-table tbody tr.selected td {
    background: none repeat scroll 0 0 #FFCF8B;
    color: #FFFFFF !important;
}

.selected-text, .desc-text, #as_src_txt, #as_dest_txt {
    display: none;
}

/**********   Loaders   **********/

.loading-component1 {
    margin: 50px 0 0 0;
}

.loading-component1 .dash-spinner.dash-default-spinner {
    margin-bottom: 300px;
}

.loading-component {
    margin-top: 50px;
}

.removed-hosts-title {
    margin-top: 20px;
    width: 50%;
    float: left;
}

.dash-spreadsheet-menu {
    float: right;
    margin-top: 15px;
}

/**********   General Info   **********/

.gi-title {
    margin-top: 30px;
}

/**********   Sites   **********/


.tab--selected.jsx-3468109796, .tab.jsx-3468109796 {
    font-size: 20px;
}

.tab-element {
    padding: 10px;
}

th:not(.CalendarDay), td:not(.CalendarDay) {
    padding: 0;
}

.site-title {
    text-align: center;
    margin-bottom: 15px;
}

table.ip-table, table.packetloss, table.owd, table.throughput, table.retransmits {
    width: inherit;
}

th.latency-head, th.throughput-head {
    text-align: center;
    font-size: 15px;
    color: #fff;
}

th.latency-head {
    background-color: #2f2f2f;
}

th.throughput-head {
    background-color: #2f2f2f;
}

td.ipv-type, td.ipv-count, td.inout-type, td.inout-value {
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    padding: 5px;
    text-align: center;
    font-size: 13px;
}

td.ipv-type, td.ipv-count {
    padding: 0px;
    font-size: 16px;
}

td.ipv-type, td.inout-type {
    border-bottom: white;
}

th.packetloss-tests, th.owd-tests, th.throughput-tests, th.retransmits-tests {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding-top: 10px;
}

table.packetloss td.inout-type, table.packetloss td.inout-value, table.packetloss tr.change-values,
table.owd td.inout-type, table.owd td.inout-value, table.owd tr.change-values,
table.throughput td.inout-type, table.throughput td.inout-value, table.throughput tr.change-values,
table.retransmits td.inout-type, table.retransmits td.inout-value, table.retransmits tr.change-values {
    color: #fff;
}

table.packetloss td.inout-type, table.packetloss td.inout-value, table.packetloss tr.change-values {
    background-color: #1768AC;
}

table.owd td.inout-type, table.owd td.inout-value, table.owd tr.change-values {
    background-color: #F03A47;
}

table.throughput td.inout-type, table.throughput td.inout-value, table.throughput tr.change-values {
    background-color: #ffc107;
}

table.retransmits td.inout-type, table.retransmits td.inout-value, table.retransmits tr.change-values {
    background-color: #00BCD4;
}

table.packetloss tr.change-values td, table.owd tr.change-values td,
table.throughput tr.change-values td, table.retransmits tr.change-values td {
    padding-left: 5px;
}

table.packetloss, table.owd, table.throughput, table.retransmits {
    font-size: 13px;
}

td.change-title {
    text-align: center;
}

.site-card {
    padding-bottom: 10px;
}


/**********   Pairs   **********/


.tab-container .tab {
    background-color: #03256C !important;
    color: white !important;
}

.tab-container .tab--selected {
    background-color: #fff !important;
    color: black !important;
    border-top: 1px solid #03266c !important;
}

.indeces-types .tab--selected {
    border-top: 1px solid #d6d6d6 !important;
    border-left: 1px solid #03266c !important;
}

.dash-spreadsheet-menu {
    margin-top: 0 !important;
}

.dash-table-container table td {
    border: 0px !important;
}

.dash-table-container th {
    border-left: 0px !important;
    border-right: 0px !important;
    border-top-color: white !important;
    border-bottom-color: white !important;
    background-color: #ffc107 !important;
}

.column-header--sort {
    color: white !important;
    font-size: 16px !important;
}

.dash-table-container th.dash-filter {
    background-color: #e7f8fa !important;
}

.problems-tab-header {
    background-color: #1768AC;
    color: white;
}

.tab-parent--vert {
    width: 100%;
    padding-top: 20px;
}

.problems-tabs-content {
    margin-top: 20px;
    margin-left: 20px;
}

.plot-input-button {
    background-color: white;
}

.indeces-types {
    width: 100%;
    font-size: 18px;
}

.problem-table {
    width: 100%;
    margin: 20px 0
}

.problem-table td {
    font-size: 14px;
    border-bottom: none;
}

.problem-table th {
    font-size: 16px;
}

.last-update {
    text-align: center;
    padding: 10px 0;
}

.index-title {
    padding: 20 0 0 10px;
}

.prob-types {
    font-size: 14px;
}

.idx-tab {
    margin-bottom: 70px;
}

.period-element {
    padding: 10px;
}

.period-times {
    text-align: center;
}

.loading-problems .dash-spinner {
    margin-top: 40em;
}

.input-type {
    padding: 10px;
}

.plot-input-button {
    margin: 10px;
    font-size: 14px;
    color: #fff;
    background-color: #03266c;
}

.input-value {
    width: 280px;
}

.ppage-header {
    color: #EEF0F2;
    font-size: 1.6em;
    padding: 5%;
    height: 100%;
}

.ppage-header h1 {
    color: white;
}

.issue-header {
    height: 150px;
}

.issue-wrapper {
    height: 100%;
}

.issue {
    background-color: #03256C;
}

.src-issue {
    background-color: #e4ac05;
    color: white;
}

.dest-issue {
    background-color: #00bcd4;
    color: white;
}

.other-issue {
    background-color: #1768AC;
}

.arrow-right {
    font-size: 6em;
}