dash>=2.9.3
dash_bootstrap_components>=1.2.1
dash_loading_spinners==1.0.0
dask>=2023.5.0
elasticsearch>=8.3.1
Flask>=2.1.2
matplotlib>=3.7.1
numpy>=1.22.4
pandas>=2.0.3
plotly>=5.9.0
pyarrow>=5.0.0
Requests>=2.31.0
scikit_learn>=0.24.1
urllib3>=1.26.10
xgboost>=1.7.5
pycountry>=20.7.3
pyarrow
