dash>=2.18.0
dash_bootstrap_components>=1.7.0
dash_loading_spinners==1.0.0
dask>=2025.1.0
elasticsearch==8.18.0
Flask>=3.0.0
matplotlib>=3.7.1
numpy>=2.0.0
pandas>=2.2.0
plotly>=6.3.1
pyarrow>=15.0.0
requests>=2.31.0
scikit-learn>=1.0.0
urllib3>=2.0.0
xgboost>=2.0.0
pycountry>=24.0.0
blinker==1.7.0
flask-caching
psconfig-client
aiohttp==3.12.1
